/* ===== SIDEBAR ===== */
section[data-testid="stSidebar"] {
    background:(#0b1220, #00040b, #151923);
    
    
    padding-top: 20px;
}



/* ===== TÍTULOS ===== */
h1, h2, h3 {
    color: #f3f3f3;
    
    
}

/* ===== CHAT ===== */
div[data-testid="stChatMessage"] {
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 8px;
    
    
    
   

}

/* ===== BOTÕES ===== */
button {
    border-radius: 30px !important;
    font-weight: 600;
}

class[data-testid="distBaseButton-secondary"]{
    border: none;
   
}

button:hover {
    transform: scale(1.02);
    transition: 0.9s ease-in-out;
    
}

/* ===== INPUT CHAT ===== */
textarea {
    border-radius: 40px !important;
    background-color: #f3f3f3;
    
    
} 
/* Tenta esconder o placeholder simulado do chat_input de forma agressiva */
/* Remove botão nativo do navegador */
/* ===== FILE UPLOADER ===== */

/* Esconde o botão "Browse files" */
section[data-testid="stFileUploader"] label {
    display: none !important;
}

/* Esconde texto padrão */
section[data-testid="stFileUploader"] small {
    display: none !important;
}

/* Ajusta o container para parecer dropzone */
section[data-testid="stFileUploader"] {
    border: 2px dashed #2a2f3a;
    border-radius: 14px;
    padding: 24px;
    background-color: #0b1220;
}

